<ol class="summary-round-list">
  {% for turn in game.turns.all %}
    <li>
      <article class="summary-round-card">
        <header>
          <span>{{ turn.turn_number }}</span>
          <strong>{{ turn.target.name }}</strong>
        </header>
        <dl class="result-list">
          <div class="result-list-primary">
            <dt>Score</dt>
            <dd>{{ turn.guess.score }}</dd>
          </div>
          <div>
            <dt>Distance</dt>
            <dd>{{ turn.guess.distance_to_municipality_m|floatformat:0 }} m</dd>
          </div>
          <div>
            <dt>Canton</dt>
            <dd>{{ turn.target.canton.abbreviation }}</dd>
          </div>
          {% if turn.target.population is not None %}
            <div>
              <dt>Population</dt>
              <dd>{{ turn.target.population }}</dd>
            </div>
          {% endif %}
        </dl>
      </article>
    </li>
  {% endfor %}
</ol>
