DEBUG=True
SECRET_KEY=dev-change-me
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgis://gemeindeguess:gemeindeguess@localhost:5432/gemeindeguess
DJANGO_SETTINGS_MODULE=config.settings
# GDAL_LIBRARY_PATH=
# GEOS_LIBRARY_PATH=
